<div *ngIf="userRole === 'admin'">
  <button (click)="logOut()"> Logout </button>
</div>

<div *ngIf="userRole === 'user'">
  <button mat-button (click)="logIn()">Login as Admin</button>
</div>


<form [formGroup]="searchForm">
  <label> Buscar por nombre: </label>
  <input type="text" formControlName="searchByName" (keyup)="filterItems()">
</form>
 
<ul>
  <li *ngFor="let item of filteredItemsByName">
    Referencia: {{item._id}}  Nombre: {{item.Nombre}} 
    <button (click)="goToDetails(item._id)">Item details</button>
  </li> 
</ul>

<button (click)="goBack()">
    Volver
</button>