<header>
  <div class="header-div header-div-logo">
    <img class="icon" src="/favicon.ico" alt="Online shop logo"/>
  </div>
  <div class="header-div header-div-title">
    <h1> Online shop </h1>
  </div>
  <div class="header-div header-div-button">
    <div *ngIf="userRole === 'user'">
      <button class="button" mat-button (click)="logIn()">
        <div class="bgContainer">
          <span class="button-span"> Admin Login </span>
        </div>
        <div class="arrowContainer">
          <svg width="14" height="14" viewBox="0 0 45 38" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <path d="M43.7678 20.7678C44.7441 19.7915 44.7441 18.2085 43.7678 17.2322L27.8579 1.32233C26.8816 0.34602 25.2986 0.34602 24.3223 1.32233C23.346 2.29864 23.346 3.88155 24.3223 4.85786L38.4645 19L24.3223 33.1421C23.346 34.1184 23.346 35.7014 24.3223 36.6777C25.2986 37.654 26.8816 37.654 27.8579 36.6777L43.7678 20.7678ZM0 21.5L42 21.5V16.5L0 16.5L0 21.5Z" fill="black"></path>
          </svg>
        </div>
      </button>
          
    </div>
  </div>
</header>

<div class="div-body">
  <div class="image-bg">
  </div>

  <div class="div-span">
    <span class="subtitle-span"> The best clothing at a higher style. </span>
  </div>
  

  <div class="home-div home-images-div">
    <img class="home-image" src="assets/images/hatHome.webp" alt="hat image home" />
    <img class="home-image" src="assets/images/shirtHome.webp" alt="shirt image home" />
    <img class="home-image" src="assets/images/shortsHome.webp" alt="shorts image home" />
    <img class="home-image" src="assets/images/shoesHome.webp" alt="shoes image home" />
  </div>

  <div class="home-div home-link-div" *ngIf="userRole === 'admin'">
    <button class="nav-button" routerLink='/add-item'>
      Add new items
    </button>  
  </div>
  <div class="home-div home-link-div">
    <button class="nav-button" routerLink='/search-item'>
      Take a look
    </button>
  </div>
</div>

<footer>
    <div class="footer-div">
      <div class="footer-rights">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="22"  height="22"  viewBox="0 0 24 24"  fill="none"  stroke="#f7fb47"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M14 9.75a3.016 3.016 0 0 0 -4.163 .173a2.993 2.993 0 0 0 0 4.154a3.016 3.016 0 0 0 4.163 .173" />
        </svg>  
        <span class="footer-span">
          All rights reserved 
        </span>
      </div>
      <div class="footer-social">
        <button class="link-button">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
          </svg>
        </button>
        <button class="link-button">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="3 3 18 18"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg>
        </button>
        <button class="link-button">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="3 2 20 20"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
        </button>
      </div>
    </div>
</footer>